<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>CSS DropDown Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Keep the http-equiv meta tag for IE8 -->

  <meta http-equiv="X-UA-Compatible" content="IE=8" />

<!-- Link the CSS file here -->

<link rel="stylesheet" type="text/css" media="screen,projection" href="style.css" />

</head>

<body>

<!-- PULL DOWN MENU - BEGIN -->

<div class="mainmenu">

<ul>
      <li class="li_nc"><a href="/welcome.do" target="_self" >Home</a></li>
      <li class="li_hc"><a href="/checkItems.do" target="_self" >Procurement</a><ul class="ul_ch">
         <li class="li_nc"><a href="/checkItems.do" target="_self" >Check</a></li>
         <li class="li_nc"><a href="/orderInvitationList.do"  >Order Invitation List</a></li>
         <li class="li_nc"><a href="/orderAcceptanceList.do"  >Order Acceptance List</a></li>
      </ul></li>
      <li class="li_hc"><a href="/requestMaterials.do"  >InHouse Department Activity</a><ul class="ul_ch">
         <li class="li_nc"><a href="/requestMaterials.do"  >Request Form</a></li>
         <li class="li_nc"><a href="/approvedItemsList.do"  >Approval List</a></li>
      </ul></li>
      <li class="li_nc"><a href="/requestedItemsList.do"  >InHouse Central Store Activity</a></li>
      <li class="li_nc"><a href="/consumption.do"  >Consumption</a></li>
      <li class="li_nc"><a href="/adjustments.do"  >Adjustment</a></li>
      <li class="li_hc"><a href="#"  >Reports</a><ul class="ul_ch">
         <li class="li_nc"><a href="#"  >Present Position</a></li>
         <li class="li_nc"><a href="/rptTransactionDt.do"  >Transactions</a></li>
         <li class="li_nc"><a href="#"  >Items</a></li>
         <li class="li_nc"><a href="#"  >Departments</a></li>
      </ul></li>
      <li class="li_hc"><a href="#"  >Admin</a><ul class="ul_ch">
         <li class="li_hc"><a href="#"  >User</a><ul class="ul_ch">
            <li class="li_nc"><a href="/adminUserAdd.do"  >Create User</a></li>
            <li class="li_nc"><a href="/adminUserUpdate.do"  >Manage User</a></li>
         </ul></li>
         <li class="li_hc"><a href="#"  >Item</a><ul class="ul_ch">
            <li class="li_nc"><a href="/itemGrade.do"  >Grade</a></li>
            <li class="li_nc"><a href="/itemType.do"  >Type</a></li>
            <li class="li_nc"><a href="/itemSafety.do"  >Safety</a></li>
         </ul></li>
      </ul></li>
      <li class="li_hc"><a href="#"  >Settings</a><ul class="ul_ch">
         <li class="li_nc"><a href="/userChangePwd.do"  >Change Password</a></li>
      </ul></li>
      <li class="li_nc"><a href="#"  >Log out</a></li>
</ul>


</div>

<!-- END OF PULL DOWN MENU -->

<div style="float:left;padding-left:15px;"><p>&nbsp;</p><br />
<p>This is just a demo page...<br />Note that in most cases this menu will be left-aligned to the text</p>
</div>

</body>
</html>
